.social-shared {
    margin-bottom: 15px;
    margin-top: -20px;
    li {
        display: inline-block;
        margin-right: 5px;
        .whatsapp {
            .fa {
                 color: #4bec68;
            }
        }
        .facebook {
            .fa {
                 color: #3b5998
            }
        }
        .twitter {
            .fa {
                 color: #00aced;
            }
        }
        .fa {
            font-size: 24px;
        }
    }
}